/***
  Base/default styles for site
***/

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font: {
    size: 10px;
    family: Raleway, sans-serif;
  }
  // text-shadow: 0 0 1px #aaa;
  color: $standard-font-color;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font: {
    family: 'Titillium Web', sans-serif;
    size: 3rem;
    weight: 600;
  }
  color: $heading-font-color;
}

h2 {
  font: {
    family: 'Titillium Web', sans-serif;
    size: 2.75rem;
  }
  margin: 6rem 0 2rem 0;
  color: $heading-font-color;
}

h3 {
  font: {
    family: 'Titillium Web', sans-serif;
    size: 2.5rem;
  }
  margin: 6rem 0 2rem 0;
  color: $heading-font-color;
}

h4 {
  font: {
    family: 'Titillium Web', sans-serif;
    size: 2rem;
    style: italic;
    weight: 400;
  }
  margin: 4rem 0 2rem 0;
  color: $heading-font-color;
}

h5 {
  font: {
    family: 'Titillium Web', sans-serif;
    size: 1.5rem;
    weight: 300;
  }
  margin: 2rem 0 1rem 0;
}

p {
  font: {
    size: 1.6rem;
    weight: 400;
  }
  margin: 1.4rem 0;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  color: #555;
}

pre {
  white-space: pre;
  margin: 4rem 1rem;
}

code {
  font: {
    size: 1.7rem;
    weight: 400;
    family: 'Andale Mono', Monospace;
  }
  letter-spacing: 0.03rem;
  line-height: 2rem;
  background: rgba(255,215,0,0.1);
  padding: 0.2rem 0.75rem;
  border: 0;
  color: $heading-font-color;
}

code.language-css,
code.language-html,
code.language-jsx,
code.language-js,
code.language-block {
  display: block;
  border-radius: 5px;
  padding: 2rem;
  overflow-x: scroll;
  width: auto;
}

ul li {
  font: {
    size: 1.6rem;
    weight: 400;
  }
  margin: 1.4rem 0;
  line-height: 2.4rem;
  color: #555;
  list-style: disc;
  margin-left: 4rem;
}

ol li {
  font: {
    size: 1.6rem;
    weight: 400;
  }
  margin: 1.4rem 0;
  line-height: 2.4rem;
  color: #555;
  list-style: decimal;
  margin-left: 4rem;
}

li:first-child {
  margin-top: 3rem;
}

li:last-child {
  margin-bottom: 3rem;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

a {
  color: $menu-font-color;
  text-decoration: underline;
}
