
// colors
$standard-font-color: #777;
$heading-font-color: #555;
$title-font-color: darkolivegreen;
$menu-font-color: #556B2F;          // darkolivegreen
$footer-bg-color: #556b30;   
$footer-text-color: #ddd;   
$date-color: #999;    

// page structure
$max-width: 1000px;
$page-margin: 135px auto 100px auto;
$page-padding: 0 40px;