@import './_variables.scss';

.body {
  max-width: $max-width;
  margin: $page-margin;
  padding: $page-padding;
}

.plus {
  font-size: 2rem;
}

.plus:hover {
  cursor: pointer;
}

.startup {
  display: none;
}


.retail {
  display: none;
}

.banker {
  display: none;
}

.processor {
  display: none;
}

.dicing {
  display: none;
}

.tech {
  display: none;
}

.driver {
  display: none;
}



hr {
  opacity: 0.35;
}