@import './_variables.scss';

.body {
  max-width: $max-width;
  margin: $page-margin;
  padding: $page-padding;
}

img {
  border-radius: 5px;
  box-shadow: 1px 1px 5px #777;
}

hr {
  opacity: 0.35;
}