@import './_variables.scss';

.body {
  max-width: $max-width;
  margin: $page-margin;
  padding: $page-padding;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.post {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  margin-bottom: 12rem;
}

.date {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  font: {
    size: 1.3rem;
  }
  margin: 0;
}

.link {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  text-decoration: none;
  line-height: 4rem;
}

.link:hover {
  text-decoration: underline;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: $heading-font-color;
  font-size: 3.5rem;
}

.authorSection {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  display: flex;
  align-items: center;
  margin: 0.75rem 0 0 1rem;
}

.author {
  font: {
    size: 1.2rem;
  }
}

.name {
  font: {
    size: 1.5rem;
  }
}


.authorImage {
  width: 32px;
  margin-left: 1rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #777;
}
            
.main {
  grid-column: 1 / -1;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
}

.excerpt {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}



.button {
  grid-column: 1 / span 1;
  width: 120px;
  padding: 1rem;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 4px #777;
  background: rgba(0,0,0,0);
  font: {
    size: 1.3rem;
  }
  margin: {
    top: 1rem;
  }
}

.button:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.3);
}

.coverImage {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #777;
}
  

/*** MEDIA QUERIES ***/

@media (max-width: 800px) {
  .main {
    grid-auto-rows: auto;
  }

  .coverImage {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    order: 1;
    margin-top: 1rem;
  }

  .excerpt {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    order: 2;
    margin: {
      top: 2rem;
    }
  }

  .button {
    grid-column: 1 / -1;
    order: 3;
  }
}