@import './_variables.scss';

.body {
  max-width: $max-width;
  margin: $page-margin;
  padding: $page-padding;
  display: grid;
  justify-content: center;
}

.post {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  margin-bottom: 6rem;
}


// DATA
.date {
  font: {
    size: 1.3rem;
  }
  margin: 0 0 1.5rem 0;
}


// TITLE
.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title {
  margin-top: 0;
  margin-bottom: 4rem;
  color: $heading-font-color;
  font-size: 3.5rem;
}


// MAIN CONTENT WITH HERO IMAGE
.coverImage {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #777;
}

.content {
  max-width: 900px;
  grid-column: 1 / -1;
  margin: 6rem auto 3rem auto;
}


// AUTHOR
.authorSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 5rem 2rem;
}

.author {
  font: {
    size: 1.4rem;
  }
}

.name {
  font: {
    size: 1.7rem;
  }
}

.icons {
  width: 40px;
  margin-left: 1rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #777;
}

.icons:hover {
  transform: translateY(-5px);
}

.divider {
  opacity: 0.5;
}


// TAGS
.tags {
  display: flex;
  flex-wrap: wrap;
  margin: {
    bottom: 10rem;
  }
}

.tags__button:nth-child(even) {
  margin-right: 5px;
  margin-left: 5px;
}

.tags__button {
  font: {
    size: 1.2rem;
  }
  padding: 5px;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 1px 3px #777;
  background: rgba(85,107,47,0.1);
  margin-bottom: 8px;
}



// PREV/NEXT POST NAVIGATION
.postNav {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.postNav__next,
.postNav__prev {
  display: grid;
  grid-template-rows: 50px auto auto;
}

.postNav__next > hr,
.postNav__prev > hr {
  max-height: 1px;
  width: 100%;
  opacity: 0.5;
}

.prev {
  margin-left: 2rem;
  justify-self: start;
  font-size: 1.6rem;
}

.next {
  margin-right: 2rem;
  justify-self: end;
  font-size: 1.6rem;
}

.postNav__item {
  font: {
    size: 2rem;
  }
  text-decoration: none;
  color: $heading-font-color;
  text-transform: uppercase;
  margin: 0 1rem;
  align-self: start;
}

.postNav__item:hover {
  text-shadow: 1px 1px 1px $standard-font-color;
}


// MEDIA QUERIES
// TODO: make the .postNav responsive