@import '../../styles/_variables.scss';

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(80px, auto);
  align-items: center;
  grid-gap: 30px;
  background: rgba(255,255,255,0.9);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  box-shadow: 0 1px 3px #999;
}

.title {
  margin: {
    top: 1rem;
    left: 3rem;
  }
  box-shadow: none;
}

.title__link {
  color: $title-font-color;
  text-decoration: none;
}

.byline {
  position: relative;
  margin: 0;
  margin: {
    left: 3.2rem;
    bottom: 0.5rem;
  }
  font: {
    size: 1.2rem;
    weight: 100;
  }
}

.menu {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-gap: 20px;
}

.menu__item {
  font: {
    size: 1.8rem;
    weight: 400;
  }
  letter-spacing: 0.03rem;
  text-decoration: none;
  color: $menu-font-color;
  padding: {
    bottom: 0.25rem;
  }
  border-bottom: 2px solid rgba(255,255,255,0);
}

.menu__item:hover {
  transform: translateY(-2px);
}

.menu__item:last-child {
  margin-right: 2rem;
}

.menu__active {
  border-bottom: 2px solid gold;
}

.mobile,
.mobile__items {
  display: none
}

/*****************************
        MEDIA QUERIES
*****************************/

// change navigation to button when vw < 750px
@media (max-width: 750px) {

  .menu__item {
    display: none;
  }

  .navigation {
    grid-column-gap: 10px;
  }

  .menu {
    justify-content: flex-end;
  }

  // MENU BUTTON
  .mobile {
    display: grid;
  }

  .mobile__button {
    display: flex;
    margin: {
      right: 3rem;
    }
    border: 0;
    background: rgba(85,107,47,0.0);
  }

  .hamburger {
    height: 2.5rem;
    margin: 0;
  }

  .mobile__close {
    margin: 0;
    font: {
      size: 4rem;
      weight: 400;
    }
  }

  .mobile__button:hover {
    cursor: pointer;
  }

  // ITEMS WHEN MENU BUTTON IS TOGGLED
  .mobile__items {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .mobile__item {
    font: {
      size: 2.2rem;
      weight: 400;
    }
    text-decoration: none;
    margin-bottom: 1.5rem;
  }

  .mobile__item:hover {
    transform: translateY(-2px);
  }

}



@media (max-width: 500px) {

  // make logo smaller when vw < 500px
  .title {
    width: 90%;
  }

}